# DOTFILES
.env
.vscode

# WORDPRESS SPECIFIC
app/advanced-cache.php
app/backup-db/
app/backups/
app/blogs.dir/
app/cache/
app/upgrade/
app/uploads/
app/wp-cache-config.php
app/plugins/hello.php
cms/
/license.txt
/readme.html
/sitemap.*

# OTHER
/vendor/
node_modules/